* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
  background: #08090b;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #08090b;
}

.particle-sphere {
  width: 600px;
  height: 600px;
}

.particle-sphere canvas {
  display: block;
  width: 100%;
  height: 100%;
}